---
{{- if and .Values.postgres_cluster.wal.enabled (or .Values.postgres_cluster.wal.accessKeyId .Values.postgres_cluster.wal.secretAccessKey) -}}
{{- $clusterName := .Values.postgres_cluster.name | default (include "zalando-postgres-cluster.fullname" .) | trunc 63 | trimSuffix "-" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ (printf "%s-wal-aws-creds" $clusterName ) | quote }}
type: Opaque
stringData:
  aws_access_key_id: {{ required "postgres_cluster.wal.credentials.accessKeyId is required when wal.enabled=true" .Values.postgres_cluster.wal.accessKeyId | quote }}
  aws_secret_access_key: {{ required "postgres_cluster.wal.credentials.secretAccessKey is required when wal.enabled=true" .Values.postgres_cluster.wal.secretAccessKey | quote }}
{{- end -}}
