---
{{- if and .Values.postgres_cluster.wal.enabled (or .Values.postgres_cluster.wal.accessKeyId .Values.postgres_cluster.wal.secretAccessKey) -}}
{{- $clusterName := .Values.postgres_cluster.name | default (include "zalando-postgres-cluster.fullname" .) | trunc 63 | trimSuffix "-" -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ (printf "%s-wal-aws-creds" $clusterName ) | quote }}
type: Opaque
stringData:
  {{- if .Values.postgres_cluster.wal.accessKeyId }}
  aws_access_key_id: {{ .Values.postgres_cluster.wal.accessKeyId | quote }}
  {{- end }}
  {{- if .Values.postgres_cluster.wal.secretAccessKey }}
  aws_secret_access_key: {{ .Values.postgres_cluster.wal.secretAccessKey | quote }}
  {{- end }}
{{- end -}}
