# -- Partially override generated resource names.
nameOverride: ""
# -- Fully override generated resource names.
fullnameOverride: ""

# -- Image pull secrets.
imagePullSecrets: []

# will create a kubernetes.io/dockerconfigjson secret
# and add it to imagePullSecrets
# i.e.
# AUTH=$( echo -n "$REGISTRY_USER:$REGISTRY_PASS" | base64 )
# DOCKER_CONFIG_JSON=$(echo -n '{ "auths": { "${REGISTRY_URL}": { "auth": "${AUTH}" } } }' | base64 | tr -d \"\n\")
# dockerConfigJson: $DOCKER_CONFIG_JSON

# -- Configure secrets.
secrets: {}
#  # strings and file contents are automatically base64 encoded
#  ssh-creds:
#    data:
#      ssh.key: "ssh-rsa AAAAB3N.....uFo42 your@key.comment"
#    files:
#      id-rsa.pub: ci/files/id-rsa.pub

# a global custom configMap that is mounted in every job
# -- Set customConfigMap.
customConfigMap:

# global configMaps from string or files
# -- Configure configMaps.
configMaps: {}
#  # name of the configMap
#  config:
#    data:
#      # everything below is uses "as-is" in the configMap
#      config.ini: |-
#        # config
#        [global]
#          mykey = value
#      cert.key: "<base64 encoded certificate>"
#  scripts:
#    data:
#      start.sh: |-
#        #!/bin/sh
#        trap 'echo "quitting"' QUIT
#    # from files: requires files to be in the chart directory!
#    # it's easier to use separate yaml files
#    # see https://github.com/helm/helm/issues/3276#issuecomment-353066972
#    files:
#      example.sh: ci/files/example.sh

# List of existing secrets to mount as volume
# -- Set secretEnvFrom.
secretEnvFrom: []
#  - name: MY_SECRET_ENV_VAR
#    secretName: my-secret
#    key: my-key

# environment variables for all jobs
# -- Environment variable entries.
env: {}

# -- Configure jobs.
jobs: {}
#  test:
#    containerName: cronjob
#    schedule: "*/5 * * * *"
#    command:
#      - /bin/sh
#      - -c
#    args:
#      - echo "foo"; ps fauxwww
#    image:
#      repository: alpine
#      tag: latest
#      pullPolicy: IfNotPresent
#    # see https://github.com/kubernetes/kubernetes/issues/74848#issuecomment-475178355
#    restartPolicy: Never
#    startingDeadlineSeconds: 60
#    activeDeadlineSeconds: 60
#    backoffLimit: 3
#    completions: 3
#    parallelism: 1
#    ttlSecondsAfterFinished: 60
#    suspend: false
#    podLabels: {} # If labels are same as commonLabels , this will take precedence
#    podAnnotations: {}  # Additional pod annotations for pods
#    env: {}
#    secretEnv: {}
#    secretEnvFrom:
#      - name: MY_SECRET_ENV_VAR
#        secretName: my-secret
#        key: my-key
#    storage:
#      efs:
#        storageClass: kt-efs-sc
#        mounts: []
#        # - fs_name: <aws-efs-filesystem-name>
#        #   fs_id: fs-1111111111
#        #   access_points:
#        #     - path: /foo/bar
#        #       mount_dest: /var/bar
#        #       id: fsap-1232345678
#        #       #name: foo # [OPTIONAL]
#    extraFiles: {}
#     # myscript.sh:
#       # mountPath: "/usr/local/bin/myscript.sh"
#       # enabled: true
#       # mode: "0755"
#       # content: |
#       #   #!/bin/bash
#       #   echo "Hello from script"

# -- ServiceAccount configuration.
serviceAccount:
  # Specifies whether a service account should be created
  # -- Set serviceAccount.create.
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  # -- Set serviceAccount.automount.
  automount: true
  # Annotations to add to the service account
  # -- Annotations map.
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  # -- Set serviceAccount.name.
  name: ""

# -- Set rbac.
rbac:
  # Enable creation of Roles and Roles Binding
  # -- Set rbac.create.
  create: false

  # (Namespaced) Role configuration
  # -- Set rbac.role.
  role:
    # Enable creation of Role/RoleBinding
    # -- Set rbac.role.create.
    create: false
    # Annotations to add to the role and rolebinding
    # -- Annotations map.
    annotations: {}
    # Rules for the role
    # -- Configure rbac.role.rules.
    rules: []
      # - apiGroups: [""]
      #   resources: ["pods", "pods/log"]
      #   verbs: ["get", "list", "watch"]
      # - apiGroups: ["batch"]
      #   resources: ["jobs", "cronjobs"]
      #   verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

  # ClusterRole configuration
  # -- Set rbac.clusterRole.
  clusterRole:
    # Enable creation of ClusterRole/ClusterRoleBinding
    # -- Set rbac.clusterRole.create.
    create: false
    # Annotations specific to ClusterRole
    # -- Annotations map.
    annotations: {}
    # Rules for the ClusterRole
    # -- Configure rbac.clusterRole.rules.
    rules: []
      # node-labeler
      # - apiGroups: [""]
      #   resources: ["nodes"]
      #   verbs: ["get", "list", "patch", "update"]

# Common annotations to add to all resources. Evaluated as a template
# -- Configure commonAnnotations.
commonAnnotations: {}

# Common labels to add to all resources. Evaluated as a template
# -- Configure commonLabels.
commonLabels: {}

# Given name given to the job container inside the Pod.
#   Can be oveeriden with .jobs.KEY.containerName
# -- Set commonContainerName.
commonContainerName: cronjob

# -- Pod security context.
podSecurityContext: {}
  # fsGroup: 2000

# -- Container security context.
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Container resource requests and limits.
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances cronjobs run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- Node selector for pod scheduling.
nodeSelector: {}

# -- Tolerations for pod scheduling.
tolerations: []

# -- Affinity rules for pod scheduling.
affinity: {}
