{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-topology.fullname" .) }}
{{- $defaultVhost := include "rabbitmq-topology.default-vhost" . }}

{{- range $name, $user := .Values.rabbitmq.topology.users }}
{{- if ($user.enabled | default true) }}
{{- $userName := $user.name | default $name }}
{{- $userMetadataName := $user.metadataName | default (printf "%s-%s" $clusterRef $userName | include "com.klicktipp.slugify-string") }}
{{- $tags := $user.tags | default (list) }}
{{- $secretName := $user.existingSecret | default (printf "%s-%s" $clusterRef $userName | include "com.klicktipp.slugify-string") }}
---
apiVersion: rabbitmq.com/v1beta1
kind: User
metadata:
  name: {{ $userMetadataName | quote }}
  annotations:
    checksum/user: {{ $user.existingSecret | default (printf "%s-%s" $userName $user.password) | sha256sum }}
spec:
  tags:
  {{- range $t := $tags }}
    - {{ $t | quote }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
  importCredentialsSecret:
    name: {{ $secretName }}

{{- if not $user.existingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName | quote }}
type: "Opaque"
stringData:
  username: {{ $userName | quote }}
  password: {{ $user.password | quote }}
{{- end }}

{{- $permission := $user.permission | default (dict) }}
{{- if $permission.enabled | default true }}
{{- $vhost := coalesce $user.vhost $permission.vhost $defaultVhost }}
{{- $permissionName := $permission.name | default (printf "%s-%s" $clusterRef $userName) | include "com.klicktipp.slugify-string" }}
{{- $permissionMetadataName := $permission.metadataName | default $permissionName }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: {{ $permissionMetadataName | quote }}
spec:
  vhost: {{ $vhost | quote }}
  userReference:
    name: {{ $userMetadataName | quote }}
  permissions:
    write: {{ $permission.write | default ".*" | quote }}
    configure: {{ $permission.configure | default ".*" | quote }}
    read: {{ $permission.read | default ".*" | quote }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }} {{/* END if permission enabled */}}

{{- end }} {{/* END if user enabled */}}
{{- end }} {{/* END range rabbitmq.topology.users */}}
