---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pdns.fullname" . }}-config
  labels:
    {{- include "pdns.labels" . | nindent 4 }}
data:
  recursor.yml: |
    {{- .Values.pdns.config | toYaml | nindent 4 }}
{{- if or .Values.pdns.lua.enabled .Values.pdns.config.recursor.lua_config_file }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pdns.fullname" . }}-lua
  labels:
    {{- include "pdns.labels" . | nindent 4 }}
data:
  recursor.lua: |
    {{- .Values.pdns.lua.script | nindent 4 }}
{{- end }}
