# Title: Minimal standalone topology
rabbitmq:
  cluster:
    name: app-rabbitmq
  vhosts:
    app:
      enabled: true
      default: true
      name: app
  topology:
    queueDefaults:
      arguments:
        x-queue-type: quorum
      exchange:
        enabled: false
      binding:
        enabled: false
    exchanges:
      app-events:
        type: direct
        vhost: app
    queues:
      email-request:
        name: email_request
        vhost: app
    bindings:
      email-request:
        source: app-events
        destination: email_request
        destinationType: queue
        routingKey: email_request
        vhost: app
