{{- if .Values.multiTenancy }}
{{- $root := . }}
{{- range $tenant, $config := .Values.config }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" $root }}-{{ $tenant }}
  labels:
    rspamd.org/tenant: {{ $tenant }}
    {{- include "rspamd.labels" $root | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- range $name, $port := $root.Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "rspamd.selectorLabels" $root | nindent 4 }}
    rspamd.org/tenant: {{ $tenant }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" $root }}-{{ $tenant }}-headless
  labels:
    rspamd.org/tenant: {{ $tenant }}
    {{- include "rspamd.labels" $root | nindent 4 }}
spec:
  clusterIP: None
  ports:
    {{- range $name, $port := $root.Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    rspamd.org/tenant: {{ $tenant }}
    {{- include "rspamd.selectorLabels" $root | nindent 4 }}
{{- range $index := until (int $root.Values.replicaCount) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" $root }}-{{ $tenant }}-{{ $index }}
  labels:
    rspamd.org/tenant: {{ $tenant }}
    {{- include "rspamd.labels" $root | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- range $name, $port := $root.Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "rspamd.selectorLabels" $root | nindent 4 }}
    apps.kubernetes.io/pod-index: "{{ $index }}"
    rspamd.org/tenant: {{ $tenant }}
{{- end }}
{{- end }}
{{- else }}

{{- range $index := until (int .Values.replicaCount) }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" $ }}-{{ $index }}
  labels:
    {{- include "rspamd.labels" $ | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- range $name, $port := $.Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "rspamd.selectorLabels" $ | nindent 4 }}
    apps.kubernetes.io/pod-index: "{{ $index }}"
{{- end }}
{{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" . }}
  labels:
    {{- include "rspamd.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    {{- range $name, $port := .Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "rspamd.selectorLabels" . | nindent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "rspamd.fullname" . }}-headless
  labels:
    {{- include "rspamd.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    {{- range $name, $port := .Values.services }}
    - port: {{ $port }}
      targetPort: {{ $port }}
      protocol: TCP
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "rspamd.selectorLabels" . | nindent 4 }}
