{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
{{- $vhost := include "rabbitmq-cluster.default-vhost" . }}

{{- if and .Values.monitoring.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") }}
{{- if .Values.monitoring.serviceMonitor.enabled }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ $clusterRef | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "rabbitmq-cluster.selectorLabels" . | nindent 6 }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace | quote }}
  endpoints:
    - port: prometheus
      scheme: http
      interval: 15s
      scrapeTimeout: 14s

    - port: prometheus-tls
      scheme: https
      interval: 15s
      scrapeTimeout: 14s
      tlsConfig:
        insecureSkipVerify: true # set to false and uncomment lines below to enable tls verification
          # ca:
          #   secret:
          #     key: ca.crt
          #     name: tls-secret # name of the secret containing the CA cert which signed the RabbitMQ Prometheus TLS cert
          # serverName: '*.RABBITMQ-INSTANCE-NAME.NAMESPACE.svc.cluster.local'

    - port: prometheus
      scheme: http
      path: /metrics/detailed
      params:
        family:
          - queue_coarse_metrics
          - queue_metrics
      interval: 15s
      scrapeTimeout: 14s

    - port: prometheus-tls
      scheme: https
      path: /metrics/detailed
      params:
        family:
          - queue_coarse_metrics
          - queue_metrics
      interval: 15s
      scrapeTimeout: 14s
      tlsConfig:
        insecureSkipVerify: true
{{- end }} {{/* END if servicemonitor enabled */}}

{{- range $queue := .Values.rabbitmq.topology.queues }}
{{- if ($queue.alert_when_has_messages | default false ) }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ (printf "%s-%s-%s-unroutable" $clusterRef $vhost $queue.name) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  groups:
    - name: rabbitmq.queue.alerts
      rules:
        - alert: RabbitMQQueueNotEmpty
          expr: |
            max(
              rabbitmq_detailed_queue_messages{queue={{ $queue.name | quote }}}
            ) > 0
          for: 1m
          labels:
            severity: warning
          annotations:
            summary: "RabbitMQ fallback queue has messages"
            description: "Queue {{ $queue.name }} has {{`{{`}} $value {{`}}`}} messages (> 0)."

        - alert: RabbitMQQueueHighBacklog
          expr: |
            max(
              rabbitmq_detailed_queue_messages{queue={{ $queue.name | quote }}}
            ) > 1000
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: "RabbitMQ fallback queue backlog is critical"
            description: "Queue {{ $queue.name }} has {{`{{`}} $value {{`}}`}} messages (> 1000). Immediate action required."

{{- end }} {{/* END if alert_when_has_messages enabled */}}
{{- end }} {{/* END queue loop */}}

{{- end }} {{/* END if monitoring enabled */}}
