---
{{- if .Values.rabbitmq.cluster.enabled }}
{{- $registry := .Values.image.registry | default "" }}
{{- $repository := required "image.repository is required" .Values.image.repository }}
{{- $tag := .Values.image.tag | default .Chart.AppVersion }}
apiVersion: rabbitmq.com/v1beta1
kind: RabbitmqCluster
metadata:
  name: {{ .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
  labels:
    {{- include "rabbitmq-cluster.labels" . | nindent 4 }}
spec:
  image: {{ if $registry }}{{ printf "%s/%s:%s" $registry $repository $tag | quote }}{{ else }}{{ printf "%s:%s" $repository $tag | quote }}{{ end }}
  replicas: {{ .Values.rabbitmq.cluster.replicas }}
  {{- if .Values.rabbitmq.cluster.persistence.enabled }}
  persistence:
    storage: {{ .Values.rabbitmq.cluster.persistence.storage | quote }}
    {{- if .Values.rabbitmq.cluster.persistence.storageClassName }}
    storageClassName: {{ .Values.rabbitmq.cluster.persistence.storageClassName | quote }}
    {{- end }}
  {{- end }}
  delayStartSeconds: {{ .Values.rabbitmq.cluster.delayStartSeconds | int }}
  {{- with .Values.rabbitmq.cluster.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.rabbitmq.cluster.affinity }}
  affinity:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | int }}
  rabbitmq:
    {{- $env := .Values.rabbitmq.cluster.configProfile | default "" | lower }}
    {{- $extraConfig := .Values.rabbitmq.cluster.extraConfig -}}
    {{- $hasEnvConfig := or (eq $env "prod") (eq $env "staging") (eq $env "dev") -}}
    {{- if or $hasEnvConfig $extraConfig }}
    additionalConfig: |
      {{- if $hasEnvConfig -}}
      {{- $configFile := printf "files/rabbitmq-configs/%s.conf" $env -}}
      {{- tpl (.Files.Get $configFile) . | nindent 6 -}}
      {{- end -}}
      {{- with $extraConfig }}
      # Extra config
      {{- . | nindent 6 }}
      {{- end }}
    {{- end }}
    additionalPlugins:
      {{- $additionalPlugins := .Values.rabbitmq.cluster.additionalPlugins | default (list) }}
      {{- $extraPlugins := .Values.rabbitmq.cluster.extraPlugins | default (list) }}
      {{- range (concat $additionalPlugins $extraPlugins | uniq) }}
      - {{ . | quote }}
      {{- end }}
  {{- with .Values.rabbitmq.cluster.override }}
  override:
    {{- nindent 4 (toYaml .) }}
  {{- end }}
{{- end }}
