---
{{- if .Values.monitoring.serviceMonitor.enabled }}

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
  labels:
    {{- include "rabbitmq-cluster.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "rabbitmq-cluster.selectorLabels" . | nindent 6 }}
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace | quote }}
  endpoints:
    - port: prometheus
      scheme: http
      interval: 15s
      scrapeTimeout: 14s

    - port: prometheus-tls
      scheme: https
      interval: 15s
      scrapeTimeout: 14s
      tlsConfig:
        insecureSkipVerify: true # set to false and uncomment lines below to enable tls verification
          # ca:
          #   secret:
          #     key: ca.crt
          #     name: tls-secret # name of the secret containing the CA cert which signed the RabbitMQ Prometheus TLS cert
          # serverName: '*.RABBITMQ-INSTANCE-NAME.NAMESPACE.svc.cluster.local'

    - port: prometheus
      scheme: http
      path: /metrics/detailed
      params:
        family:
          - queue_coarse_metrics
          - queue_metrics
      interval: 15s
      scrapeTimeout: 14s

    - port: prometheus-tls
      scheme: https
      path: /metrics/detailed
      params:
        family:
          - queue_coarse_metrics
          - queue_metrics
      interval: 15s
      scrapeTimeout: 14s
      tlsConfig:
        insecureSkipVerify: true

{{- end }}
