{{- if .Values.rabbitmq.topology.enabled }}

{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
{{- $vhost := include "rabbitmq-cluster.default-vhost" . }}

{{- range $queue := .Values.rabbitmq.topology.queues }}

{{- $queueType := $queue.type | default "quorum"  }}
{{- $queueDurable := $queue.durable | default true }}
{{- $queueAutoDelete := $queue.autoDelete | default false }}

{{- $queueExchange := $queue.exchange | default (dict) }}
{{- $exchangeName := $queueExchange.name | default $queue.name | include "com.klicktipp.slugify-string" }}
{{- $exchangeType := $queueExchange.type | default "fanout"  }}
{{- $exchangeDurable := $queueExchange.durable | default true  }}
{{- $exchangeAutoDelete := $queueExchange.autoDelete | default false  }}

---
apiVersion: rabbitmq.com/v1beta1
kind: Queue
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $vhost $queue.name) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $queue.name | quote }}
  type: {{ $queueType | quote }}
  durable: {{ $queueDurable }}
  autoDelete: {{ $queueAutoDelete }}
  vhost: {{ $vhost | quote }}
  {{- with $queue.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}

---
apiVersion: rabbitmq.com/v1beta1
kind: Exchange
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $vhost $exchangeName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $exchangeName | quote }}
  type: {{ $exchangeType | quote }}
  durable: {{ $exchangeDurable }}
  autoDelete: {{ $exchangeAutoDelete }}
  vhost: {{ $vhost | quote }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}

---
{{- $binding :=  $queue.binding | default (dict) }}
{{- $bindingName := $binding.name | default $queue.name }}
{{- $routingKey := $binding.routingKey | default "" }}
{{- if ($binding.enabled | default true) }}
apiVersion: rabbitmq.com/v1beta1
kind: Binding
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $vhost $bindingName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  vhost: {{ $vhost | quote }}
  source: {{ $exchangeName | quote }}   # an existing exchange
  destination: {{ $binding.destination | default $queue.name | quote }}        # an existing queue or exchange
  destinationType: {{ $binding.type | default "queue" | quote }}  # can be 'queue' or 'exchange'
  {{- if ne $routingKey "" }}
  routingKey: {{ $routingKey | quote }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }}  {{/* END binding */}}

{{- end }} {{/* END queue loop */}}

{{- range $i, $policy := (.Values.rabbitmq.topology.policies | default (list)) }}
---
{{- $policyName := required (printf "rabbitmq.policies.items[%d].name is required" $i) $policy.name }}
{{- $pattern := required (printf "rabbitmq.policies.items[%d].pattern is required" $i) $policy.pattern }}
{{- $applyTo := required (printf "rabbitmq.policies.items[%d].applyTo is required" $i) $policy.applyTo }}
{{- $definition := required (printf "rabbitmq.policies.items[%d].definition is required" $i) $policy.definition }}
apiVersion: rabbitmq.com/v1beta1
kind: Policy
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $vhost $policyName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
    {{- with $policy.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $policy.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  name: {{ $policyName | quote }}
  vhost: {{ $vhost | quote }}
  pattern: {{ $pattern | quote }} # Regular expression used to match exchange or queue names.
  applyTo: {{ $applyTo | quote }}
  priority: {{ $policy.priority | default 0 }}
  definition:
    {{- toYaml $definition | nindent 4 }}
  rabbitmqClusterReference:
    {{- if $policy.rabbitmqClusterReference }}
    {{- toYaml $policy.rabbitmqClusterReference | nindent 4 }}
    {{- else }}
    name: {{ $clusterRef | quote }}
    {{- end }}
{{- end }} {{/* END policies loop */}}

{{- end }} {{/* END if enabled */}}
