{{- if .Values.rabbitmq.topology.enabled }}

{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}

{{- range $queue := .Values.rabbitmq.topology.queues }}

{{- $queueType := $queue.type | default "quorum"  }}
{{- $queueDurable := $queue.durable | default true }}
{{- $queueAutoDelete := $queue.autoDelete | default false }}

{{- $exchangeName := $queue.exchange.name | default $queue.name  }}
{{- $exchangeType := $queue.exchange.type | default "fanout"  }}
{{- $exchangeDurable := $queue.exchange.durable | default true  }}
{{- $exchangeAutoDelete := $queue.exchange.autoDelete | default false  }}

---
apiVersion: rabbitmq.com/v1beta1
kind: Queue
metadata:
  name: {{ $queue.name | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $queue.name | quote }}
  type: {{ $queueType | quote }}
  durable: {{ $queueDurable }}
  autoDelete: {{ $queueAutoDelete }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}

---
apiVersion: rabbitmq.com/v1beta1
kind: Exchange
metadata:
  name: {{ printf "%s-exchange" $exchangeName | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $exchangeName | quote }}
  type: {{ $exchangeType | quote }}
  durable: {{ $exchangeDurable }}
  autoDelete: {{ $exchangeAutoDelete }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}

---
{{- $binding :=  $queue.binding | default (dict) }}
{{- $routingKey := $binding.routingKey | default "" }}
{{- if $binding }}
apiVersion: rabbitmq.com/v1beta1
kind: Binding
metadata:
  name: {{ printf "%s-binding" $queue.name | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  source: {{ $exchangeName | quote }}
  destination: {{ $queue.name | quote }}
  destinationType: queue
  {{- if ne $routingKey "" }}
  routingKey: {{ $routingKey | quote }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }}  {{/* END binding */}}

{{- end }} {{/* END queue loop */}}
{{- end }} {{/* END if enabled */}}
