{{- if .Values.rabbitmq.topology.enabled }}

{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
{{- $defaultVhost := include "rabbitmq-cluster.default-vhost" . }}

{{- range $name, $queue := (.Values.rabbitmq.topology.queues | default (dict)) }}
{{- $queueEnabled := hasKey $queue "enabled" | ternary $queue.enabled true }}
{{- if $queueEnabled }}

{{- $queueName := $queue.name | default $name }}
{{- $queueType := $queue.type | default "quorum" }}
{{- $queueDurable := $queue.durable | default true }}
{{- $queueAutoDelete := $queue.autoDelete | default false }}
{{- $queueVhost := $queue.vhost | default $defaultVhost }}

---
apiVersion: rabbitmq.com/v1beta1
kind: Queue
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $queueVhost $queueName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $queueName | quote }}
  type: {{ $queueType | quote }}
  durable: {{ $queueDurable }}
  autoDelete: {{ $queueAutoDelete }}
  vhost: {{ $queueVhost | quote }}
  {{- with $queue.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}

{{- $queueExchange := $queue.exchange | default (dict) }}
{{- $queueExchangeEnabled := hasKey $queueExchange "enabled" | ternary $queueExchange.enabled true }}
{{- if $queueExchangeEnabled }}
{{- $exchangeName := $queueExchange.name | default $queueName }}
{{- $exchangeType := $queueExchange.type | default "fanout" }}
{{- $exchangeDurable := $queueExchange.durable | default true }}
{{- $exchangeAutoDelete := $queueExchange.autoDelete | default false }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Exchange
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $queueVhost $exchangeName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $exchangeName | quote }}
  type: {{ $exchangeType | quote }}
  durable: {{ $exchangeDurable }}
  autoDelete: {{ $exchangeAutoDelete }}
  vhost: {{ $queueVhost | quote }}
  {{- with $queueExchange.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }} {{/* END queue exchange */}}

{{- $binding := $queue.binding | default (dict) }}
{{- $queueBindingEnabled := hasKey $binding "enabled" | ternary $binding.enabled true }}
{{- if $queueBindingEnabled }}
{{- $bindingName := $binding.name | default $queueName }}
{{- $routingKey := $binding.routingKey | default "" }}
{{- $bindingSource := $binding.source | default ($queueExchange.name | default $queueName) }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Binding
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $queueVhost $bindingName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  vhost: {{ $queueVhost | quote }}
  source: {{ $bindingSource | quote }}
  destination: {{ $binding.destination | default $queueName | quote }}
  destinationType: {{ $binding.destinationType | default ($binding.type | default "queue") | quote }}
  {{- if ne $routingKey "" }}
  routingKey: {{ $routingKey | quote }}
  {{- end }}
  {{- with $binding.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }} {{/* END queue binding */}}

{{- end }} {{/* END if queue enabled */}}
{{- end }} {{/* END queue loop */}}

{{- range $name, $exchange := (.Values.rabbitmq.topology.exchanges | default (dict)) }}
{{- $exchangeEnabled := hasKey $exchange "enabled" | ternary $exchange.enabled true }}
{{- if $exchangeEnabled }}
{{- $exchangeName := $exchange.name | default $name }}
{{- $exchangeType := $exchange.type | default "fanout" }}
{{- $exchangeDurable := $exchange.durable | default true }}
{{- $exchangeAutoDelete := $exchange.autoDelete | default false }}
{{- $exchangeVhost := $exchange.vhost | default $defaultVhost }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Exchange
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $exchangeVhost $exchangeName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  name: {{ $exchangeName | quote }}
  type: {{ $exchangeType | quote }}
  durable: {{ $exchangeDurable }}
  autoDelete: {{ $exchangeAutoDelete }}
  vhost: {{ $exchangeVhost | quote }}
  {{- with $exchange.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    {{- if $exchange.rabbitmqClusterReference }}
    {{- toYaml $exchange.rabbitmqClusterReference | nindent 4 }}
    {{- else }}
    name: {{ $clusterRef | quote }}
    {{- end }}
{{- end }} {{/* END if exchange enabled */}}
{{- end }} {{/* END exchanges loop */}}

{{- range $name, $binding := (.Values.rabbitmq.topology.bindings | default (dict)) }}
{{- $bindingEnabled := hasKey $binding "enabled" | ternary $binding.enabled true }}
{{- if $bindingEnabled }}
{{- $bindingName := $binding.name | default $name }}
{{- $bindingVhost := $binding.vhost | default $defaultVhost }}
{{- $bindingSource := required (printf "rabbitmq.topology.bindings.%s.source is required" $name) $binding.source }}
{{- $bindingDestination := required (printf "rabbitmq.topology.bindings.%s.destination is required" $name) $binding.destination }}
{{- $routingKey := $binding.routingKey | default "" }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Binding
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $bindingVhost $bindingName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
spec:
  vhost: {{ $bindingVhost | quote }}
  source: {{ $bindingSource | quote }}
  destination: {{ $bindingDestination | quote }}
  destinationType: {{ $binding.destinationType | default ($binding.type | default "queue") | quote }}
  {{- if ne $routingKey "" }}
  routingKey: {{ $routingKey | quote }}
  {{- end }}
  {{- with $binding.arguments }}
  arguments:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rabbitmqClusterReference:
    {{- if $binding.rabbitmqClusterReference }}
    {{- toYaml $binding.rabbitmqClusterReference | nindent 4 }}
    {{- else }}
    name: {{ $clusterRef | quote }}
    {{- end }}
{{- end }} {{/* END if binding enabled */}}
{{- end }} {{/* END bindings loop */}}

{{- range $name, $policy := (.Values.rabbitmq.topology.policies | default (dict)) }}
{{- $policyEnabled := hasKey $policy "enabled" | ternary $policy.enabled true }}
{{- if $policyEnabled }}
---
{{- $policyName := $policy.name | default $name }}
{{- $pattern := required (printf "rabbitmq.topology.policies.%s.pattern is required" $name) $policy.pattern }}
{{- $applyTo := required (printf "rabbitmq.topology.policies.%s.applyTo is required" $name) $policy.applyTo }}
{{- $definition := required (printf "rabbitmq.topology.policies.%s.definition is required" $name) $policy.definition }}
{{- $policyVhost := $policy.vhost | default $defaultVhost }}
apiVersion: rabbitmq.com/v1beta1
kind: Policy
metadata:
  name: {{ (printf "%s-%s-%s" $clusterRef $policyVhost $policyName) | include "com.klicktipp.slugify-string" | quote }}
  labels:
    {{- include "rabbitmq-cluster.labels" $ | nindent 4 }}
    {{- with $policy.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with $policy.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  name: {{ $policyName | quote }}
  vhost: {{ $policyVhost | quote }}
  pattern: {{ $pattern | quote }}
  applyTo: {{ $applyTo | quote }}
  priority: {{ $policy.priority | default 0 }}
  definition:
    {{- toYaml $definition | nindent 4 }}
  rabbitmqClusterReference:
    {{- if $policy.rabbitmqClusterReference }}
    {{- toYaml $policy.rabbitmqClusterReference | nindent 4 }}
    {{- else }}
    name: {{ $clusterRef | quote }}
    {{- end }}
{{- end }} {{/* END if policy enabled */}}
{{- end }} {{/* END policies loop */}}

{{- end }} {{/* END if enabled */}}
