---
{{- $clusterRef := .Values.rabbitmq.cluster.name | default (include "rabbitmq-cluster.fullname" .) }}
{{- $defaultVhost := include "rabbitmq-cluster.default-vhost" . }}

{{- range $name, $user := .Values.rabbitmq.topology.users }}
{{- $userName := $user.name | default $name }}
{{- $tags := $user.tags | default (list) }}
{{- $secretName := $user.existingSecret | default (printf "%s-user-%s" $clusterRef $userName) }}
---
apiVersion: rabbitmq.com/v1beta1
kind: User
metadata:
  name: {{ printf "%s-%s" $clusterRef $userName | include "com.klicktipp.slugify-string" | quote }}
  annotations:
    # Workaround to trigger a re-creation of the user / setting the password
    checksum/user: {{ $user.existingSecret | default (printf "%s-%s" $userName $user.password) | sha256sum }}
spec:
  tags:
  {{- range $t := $tags }}
    - {{ $t | quote }}
  {{- end }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
  importCredentialsSecret:
    name: {{ $secretName }}

{{- if not $user.existingSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName | quote }}
type: "Opaque"
stringData:
  username: {{ $userName | quote }}
  password: {{ $user.password | quote }}
{{- end }}

{{- $permission := $user.permission | default (dict) }}
{{- if $permission.enabled | default true }}
{{- $permissionVhost := $permission.vhost | default $defaultVhost }}
{{- $permissionName := $permission.name | default $permissionVhost }}
---
apiVersion: rabbitmq.com/v1beta1
kind: Permission
metadata:
  name: {{ printf "%s-%s-%s" $clusterRef $userName $permissionName | include "com.klicktipp.slugify-string" | quote }}
spec:
  vhost: {{ $permissionVhost | quote }}
  userReference:
    name: {{ printf "%s-%s" $clusterRef $userName | include "com.klicktipp.slugify-string" | quote }}
  permissions:
    write: {{ $permission.write | default ".*" | quote }}
    configure: {{ $permission.configure | default ".*" | quote }}
    read: {{ $permission.read | default ".*" | quote }}
  rabbitmqClusterReference:
    name: {{ $clusterRef | quote }}
{{- end }} {{/* END if permission enabled */}}

{{- end }} {{/* END range rabbitmq.topology.users */}}
